body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: rgb(39, 36, 36);
}

.quem-somos {
    background-color: #8181F7;
    color: white;
}

.margin {    
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: gainsboro;
}

.bg-footer {
    background-color: rgb(39, 36, 36);
    color: white;
}